<!-- el ngif ayuda en que si ya esta autentitficado el boton no salga -->
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <app-login-button
      
       *ngIf = "(auth.isAuthenticated$ | async) === false"  
       
       ></app-login-button> 

      <app-logout-button 
      *ngIf="auth.isAuthenticated$ | async "  
      
      ></app-logout-button>

    </div>
  </nav>
  
  <!-- As a heading -->
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Navbar</span>
    </div>
  </nav>